# doc : https://clang.llvm.org/docs/ClangFormatStyleOptions.html
{ 
  BasedOnStyle: LLVM,
  IndentWidth: 2,
  NamespaceIndentation: All,
  IndentCaseLabels: true,
  IndentAccessModifiers: false,
  AccessModifierOffset: -2,
  UseTab: Never,
  KeepEmptyLinesAtTheStartOfBlocks: false,
  IncludeBlocks: Regroup,
  MaxEmptyLinesToKeep: 1,
  ReflowComments: true,
  SpacesInLineCommentPrefix: {
    Minimum: 1,
    Maximum: -1,
  },
  PackConstructorInitializers: NextLine,
  ColumnLimit: 80,
  AlignOperands: Align,
  AllowShortCaseLabelsOnASingleLine: true,
  AlwaysBreakTemplateDeclarations: Yes,
  BinPackParameters: false,
  BinPackArguments: false,
  PointerAlignment: Left,
  DerivePointerAlignment: false,
  IndentPPDirectives: BeforeHash,
  BreakBeforeBinaryOperators: NonAssignment,
  Cpp11BracedListStyle: false,
  SpaceBeforeCpp11BracedList: true,
  IndentWrappedFunctionNames: true,

  AlignArrayOfStructures: Left,
  AlignConsecutiveAssignments: Consecutive,
  AllowShortIfStatementsOnASingleLine: AllIfsAndElse,
}